<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
    <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>
    <script src="scripts/require.js"></script>
    <!--<script type="text/javascript" src="modules"></script>-->
  </head>
  <body>
    <script>
        require.config({
            baseUrl: "/scripts"
        });
    </script>
    {{{block "pageScripts"}}}
    {{{body}}}
  </body>
</html>
